@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");
html {
  font-size: 100%;
  background: url("../img/pattern.png");
}
body {
  font-family: Georgia, serif;
  font-size: 2em;
  line-height: 1;
  margin: 0 auto;
  max-width: 30em;
}
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.example pre {
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0.5em;
  background-color: #d3d3d3;
  font-family: 'Droid Sans Mono', Monospace;
}
